<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<style>
		.containerStyle {
			padding-bottom: 20px;
			padding-left: 2%;
			margin-left: 20%;
			margin-top: 2%;
			width: 50%;
			border: 1px solid black;
			border-radius: 4%;
		}

		.fontStyle {
			font-size: large;
		}
	</style>
	<title>Spring Boot MVC Example</title>
</head>

<body>
	<div class="containerStyle">
	<h1>Welcome to Spring Boot MVC Example!</h1>
	<p >
		<ul class="fontStyle">
			<li>Model - src\main\java\com\example\demo\Employee.java</li>
			<li>View - src\main\java\com\example\demo\EmployeeController.java</li>
			<li>Controller - src\main\java\com\example\demo\EmployeeController.java</li>
		</ul>
	</p>
	<h2>Click <a href="employees">here</a> to view Web Page</h2>

</body>

</html>